<title hx-swap-oob="innerHTML:title">
    {% block title %}

    {% endblock title %}
</title>

<div id="topnav" hx-swap-oob="innerHTML:topnav">

    {% block topnav %}
    
    {% endblock topnav %}
</div>
<!-- breadcrumbs  -->
<div id="breadcrumbs" class="flex" aria-label="Breadcrumb" hx-swap-oob="true">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        {% block breadcrumbs %}

        {% endblock breadcrumbs %}
    </ol>

</div>

{% if messages %}
<!-- messages -->
<div id="messages" class="" role="alert" hx-swap-oob="true">
    {% for message in messages %}
    <div>
        {{ message }}
    </div>
    {% endfor %}

</div>

{% else %}
<div id="messages" class="" hx-swap-oob="true"></div>
{% endif %}

{% block canvas %}

{% endblock canvas %}