{% extends base_template %}
{% load tailwind_filters %}

{% block title %}
Simple CRM | Create Agent
{% endblock title %}

{% block breadcrumbs %}

<ol class="inline-flex items-center space-x-1 md:space-x-3">

    <li hx-get="{% url 'crm:index' %}" hx-target="#htmxCanvas" hx-push-url="true" class="inline-flex items-center">
        <a href="#"
            class="inline-flex items-center text-sm font-medium text-blue-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                </path>
            </svg>
            Dashboard
        </a>
    </li>


    <li hx-get="{% url 'agents:agent' %}" hx-target="#htmxCanvas" hx-push-url="true" class="inline-flex items-center">
        <a href="#"
            class="inline-flex items-center text-sm font-medium text-blue-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
            Agent List
        </a>
    </li>

    <!-- <li>
        <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
            <a href="#" class="ml-1 text-sm font-medium text-gray-700 md:ml-2 dark:text-gray-400 ">
                Agent List</a>
        </div>
    </li> -->
    <!-- current active page  -->
    <li aria-current="page">
        <div class="flex items-center">
          <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">
            Create Agent</span>
        </div>
      </li>
</ol>
{% endblock breadcrumbs %}

{% block canvas %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">New Agent</h2>

        <form action="#" hx-post="{% url 'agents:create-agent' %}" hx-target="#htmxCanvas" hx-push-url="true">

            <div class="sm:grid-cols-2 sm:gap-6">

                {{ form|crispy }}

                <button type="submit"
                    class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Add Agent
                </button>
                </div>
        </form>
    </div>
</section>

{% endblock canvas %}